

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @allcars.each do |brand, cars| %>
          <% cars.each do |car|%>
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p class="card-text"><%=brand%> - <%=car['model']%></p>
                  <p class="card-text">Starts from: <%=car['startprice']%> AZN</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/cars/<%=car['id']%>">Show</a></button>

                      <% if !logged_in? && car['test_drive'] == 1%>  
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="<%=new_test_drife_path%>/?car=<%=car['id']%>">Test Drive</a></button>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>