

<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Time</th>
      <th>Person</th>
      <th>Person Id</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
      <%@tdrives.each do |el|%>
        <td><%= el['car_id']%></td>
        <td><%= el['time'] %></td>
        <td><%= el['person']%></td>
        <td><%= el['personid']%></td>
        <td><%= el['phone']%></td>
      </tr>
      <%end%>
  </tbody>
</table>
