<header class="p-3 bg-dark text-white">
	<div class="container">
	  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
		<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
		  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
		</a>

		<% if !logged_in? %>
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="<%=root_path%>" class="nav-link px-2 text-white">All cars</a></li>
				<li><a href="<%=services_path%>" class="nav-link px-2 text-white">Service</a></li>
			</ul>
		<% else %>
			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			  <li><a href="<%=root_path%>" class="nav-link px-2 text-white">All cars</a></li>
			  <li><a href="<%=mycars_car_path(session[:brand_id])%>" class="nav-link px-2 text-white">My cars</a></li>
			  <li><a href="<%=test_drife_path(session[:brand_id])%>" class="nav-link px-2 text-white">Test Drive</a></li>
			  <li><a href="<%=service_path(session[:brand_id])%>" class="nav-link px-2 text-white">Services</a></li>
			  <p>Welcome, <%=session[:login]%> !</p>
			</ul>
		<% end %>


		<div class="text-end">
		<% if logged_in? %>	
		<%=session[:type]%>
			<a href="<%=logout_path%>" class="btn btn-warning">Logout</a>
		<% else %>
			<a href="<%=login_path%>" class="btn btn-warning">Login</a>
		<% end %>		
		</div>
	  </div>
	</div>
  </header>